[Unit]
Description=Digame Backend (Gunicorn)
After=network.target

[Service]
User=mmestre01
Group=www-data
WorkingDirectory=/home/mmestre01/Desktop/portafolios
Environment="PATH=/home/mmestre01/Desktop/portafolios/venv/bin"
EnvironmentFile=-/home/mmestre01/Desktop/portafolios/.env
ExecStart=/home/mmestre01/Desktop/portafolios/venv/bin/gunicorn \
          --workers 1 \
          --threads 8 \
          --bind 127.0.0.1:5002 \
          app:app

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
